<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>Icon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>37</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2021 XS-Labs. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconText</key>
				<string>plist</string>
				<key>UTTypeIconBadgeName</key>
				<string>property-list-badge</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.property-list</string>
			<key>UTTypeDescription</key>
			<string>Property List</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>plist</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconText</key>
				<string>plist</string>
				<key>UTTypeIconBadgeName</key>
				<string></string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xml-property-list</string>
			<key>UTTypeDescription</key>
			<string>XML Property List</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>plist</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconText</key>
				<string>plist</string>
				<key>UTTypeIconBadgeName</key>
				<string></string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.binary-property-list</string>
			<key>UTTypeDescription</key>
			<string>Binary Property List</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>plist</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconText</key>
				<string>plist</string>
				<key>UTTypeIconBadgeName</key>
				<string></string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.ascii-property-list</string>
			<key>UTTypeDescription</key>
			<string>ASCII Property List</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>plist</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Property List</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<true/>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.property-list</string>
			</array>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>CFBundleTypeIconFile</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>plist</string>
			</array>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>CFBundleTypeIconSystemGenerated</key>
			<true/>
			<key>CFBundleTypeName</key>
			<string>XML Property List</string>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xml-property-list</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>plist</string>
			</array>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>CFBundleTypeIconSystemGenerated</key>
			<true/>
			<key>CFBundleTypeName</key>
			<string>Binary Property List</string>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.binary-property-list</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>plist</string>
			</array>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>CFBundleTypeIconSystemGenerated</key>
			<true/>
			<key>CFBundleTypeName</key>
			<string>ASCII Property List</string>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.dt.document.ascii-property-list</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
</dict>
</plist>
